# dependencies
node_modules/
.pnp
.pnp.js

# Docusaurus caches
.docusaurus/
docs/site/.docusaurus/
docs/site/node_modules/

# Figma Plugin Caches
design-system/figma-cache/
*_removed.json
unknown-*.json

# testing
coverage/

# production
build/
dist/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
